CRv0.2.2_merged.json
{
  "name": "CRv0.2.2",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "id": "d51d2c09-8680-48ae-a62d-7d3c3b975a4b",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        400,
        176
      ],
      "typeVersion": 1.2,
      "credentials": {
        "openAiApi": {
          "id": "eNHEY1q7n7y7LYtR",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "3adc07b2-190e-441a-a5a0-7be3bbf03e80",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        -640,
        224
      ],
      "webhookId": "282a40be-932b-4ca3-9562-f8cfb264af6c",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "ON5zW9HFjWNzVJS6",
          "name": "Binance AI CR Agent"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "if ($input.first().json.message.from.id !== 6179501557) { // Replace with your actual ID\n  return {unauthorized: true};\n} else {\n  // Return the original data when authorized\n  return $input.all();\n}"
      },
      "id": "5a9a38ed-2df0-4d75-b211-0850f428ecff",
      "name": "User Authentication (Replace Telegram ID)",
      "type": "n8n-nodes-base.code",
      "position": [
        -448,
        224
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "47598bf1-e55f-4cc0-ae75-272085e7ce02",
              "name": "=sessionId",
              "type": "string",
              "value": "={{ $json.message.chat.id }}"
            },
            {
              "id": "daa49d74-e55e-47bc-ac52-8686d591ab83",
              "name": "message",
              "type": "string",
              "value": "={{ $json.message.text }}"
            }
          ]
        },
        "options": {}
      },
      "id": "174215a1-6f8e-4003-8374-6225ed2e57a3",
      "name": "Adds \"SessionId\"",
      "type": "n8n-nodes-base.set",
      "position": [
        -240,
        224
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "a007647e-5a34-4206-b467-fd959addb470",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        2912,
        -160
      ],
      "webhookId": "232f6674-a8b4-4cf6-a980-5080d1ace2bc",
      "typeVersion": 1.2,
      "credentials": {
        "telegramApi": {
          "id": "ON5zW9HFjWNzVJS6",
          "name": "Binance AI CR Agent"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Input: assumes incoming message in `item.json.message`\nconst input = $json.output;\nconst chunkSize = 4000;\n\n// Function to split text\nfunction splitMessage(text, size) {\n  const result = [];\n  for (let i = 0; i < text.length; i += size) {\n    result.push(text.substring(i, i + size));\n  }\n  return result;\n}\n\n// Logic\nif (input.length <= chunkSize) {\n  return [{ json: { message: input } }];\n} else {\n  const chunks = splitMessage(input, chunkSize);\n  return chunks.map(chunk => ({ json: { message: chunk } }));\n}"
      },
      "id": "73955864-6196-41e1-a092-6e02a8b9d9a1",
      "name": "Splits message is more than 4000 characters",
      "type": "n8n-nodes-base.code",
      "position": [
        2688,
        -160
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Trigger Incoming Telegram Command\nNode: Telegram Trigger\n**Listens for new Telegram messages** from users.\nTriggers the full agent process and passes raw user input downstream.",
        "height": 236,
        "color": 4
      },
      "id": "8423b29a-fed6-436a-b6bc-83a8fca139cc",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -720,
        -16
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Validate User Access\nNode: User **Authentication\nChecks incoming Telegram ID** against the approved user list.",
        "height": 188,
        "width": 176,
        "color": 2
      },
      "id": "b3194ce0-7409-400b-a6c3-593df93f19e0",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Generate Session Metadata\nNode: Add S**essionId\nCreates a sessionId using the Telegram chat_id**.\nPassed into all downstream tools for memory and workflow routing.",
        "height": 268,
        "width": 192,
        "color": 5
      },
      "id": "008078e9-11bb-4547-b886-c609f4fcc811",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -304,
        -48
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main AI Agent: Data Fetcher\n\n**Node: Binance Data Agent**\nThis is the **core orchestrator**. It uses OpenAI only to **format and present raw Binance market data**, not to analyze or generate strategies.\n\nIt has direct **HTTP request access** to the Binance REST API and retrieves:\n\n* **Live price** (`/api/v3/ticker/price`)\n* **24h ticker stats** (`/api/v3/ticker/24hr`)\n* **Order book depth** (`/api/v3/depth`)\n* **Best bid/ask** (`/api/v3/ticker/bookTicker`)\n* **Klines/candlesticks** (`/api/v3/klines`)\n\nThe agent calls these endpoints in parallel for the requested symbol, validates results, and then **presents the data in clean Telegram HTML format**.\n\nIt does **not**:\n\n* Perform technical analysis\n* Generate strategies or predictions\n* Fetch sentiment or news\n\n\n",
        "height": 756,
        "width": 304,
        "color": 7
      },
      "id": "8b9cf912-7867-41a1-aff0-a5fbe8fe4919",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        816,
        -944
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Handle Telegram Message Limits\nNode: Code (split logic)\nChecks if the **GPT output exceeds 4000 characters**.\nIf so, it splits the message into safe chunks and passes them on sequentially.",
        "height": 204,
        "width": 260,
        "color": 5
      },
      "id": "b7617bb4-4d1e-4111-85ea-6371773867f5",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2592,
        -368
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Send Final Report to Telegram\nNode: Telegram sendMessage\nSends **formatted HTML report (or split chunks)** directly to the authenticated user via Telegram bot.",
        "height": 188,
        "color": 4
      },
      "id": "5b333702-d525-4972-b077-d13925d81312",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2848,
        -352
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## GPT Model for Reasoning\nNode: OpenAI Chat Model\nModel: **gpt-4o-mini**\nUsed to:\n\nInterpret signal values\n\nGenerate structured HTML\n\n**Recommend spot and leverage trades**\n\n",
        "height": 524
      },
      "id": "9258ea05-6601-4bae-a9d4-e26782c878c1",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### **Order Book Depth**\n\n**Endpoint:** `GET /api/v3/depth`\n**What it does:** Returns **order book** bids/asks up to `limit`.\n**Params:**\n\n* `symbol` (STRING, required)\n* `limit` (INT, default 100; max 5000; we default 100)\n  **Request weight:** varies by `limit` (1\u2013100 \u2192 5; 101\u2013500 \u2192 25; 501\u20131000 \u2192 50; 1001\u20135000 \u2192 250).\n  **Returns:** `lastUpdateId`, `bids: [[price, qty], ...]`, `asks: [[price, qty], ...]`\n  **n8n query mapping:**\n\n```txt\nsymbol = $fromAI('parameters0_Value', '', 'string')\nlimit  = $fromAI('parameters1_Value', 100, 'number')\n```\n\n**Notes:** If `limit > 5000`, only 5000 are returned.",
        "height": 884,
        "color": 6
      },
      "id": "73bf6c79-8246-4e92-8e3d-309a3668da0b",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1072,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### **Best Bid/Ask (Book Ticker)**\n\n**Endpoint:** `GET /api/v3/ticker/bookTicker`\n**What it does:** Best **bid/ask** and sizes for the symbol.\n**Params:** `symbol` (optional; **we send it**)\n**Request weight:** `2` with `symbol`, `4` otherwise.\n**Returns:** `{\"symbol\":\"BTCUSDT\",\"bidPrice\":\"...\",\"bidQty\":\"...\",\"askPrice\":\"...\",\"askQty\":\"...\"}`\n**n8n query mapping:**\n\n```txt\nsymbol = $fromAI('parameters0_Value', '', 'string')\n```\n\n**Notes:** Great for quick spread snapshot.",
        "height": 868,
        "color": 6
      },
      "id": "88b6e341-2e55-4eff-970c-238f0bbea1dc",
      "name": "Sticky Note8",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1552,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n## Short-Term Memory Module\nNode: **Simple Memory\nStores the sessionId**, symbol, and other state data.\nUseful for:\n\nMulti-turn Telegram interactions\n\nTracking indicator agreement across timeframes\n\n",
        "height": 540,
        "color": 3
      },
      "id": "803cea64-93dd-438c-b401-cadf3fec3785",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        560,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "56953b91-4497-4df4-940b-ab8f7bc439d2",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        640,
        176
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message }}",
        "options": {
          "systemMessage": "You are the **Binance Spot Market Data Agent**.  \n\nYou have **HTTP request access** to the official Binance REST API to retrieve market data for any requested Binance Spot trading pair.  \nYour job is to **fetch and present data only**. You do **not** analyze, predict, or recommend.\n\n---\n\n## \ud83d\udd17 API Access\n\n**Base endpoints** (primary default = `https://api.binance.com`):  \n- https://api.binance.com  \n- https://api-gcp.binance.com  \n- https://api1.binance.com \u2026 https://api4.binance.com  \n\n**Format rules:**  \n- All requests are **HTTP GET**  \n- Responses are **JSON**  \n- Parameters use query strings (e.g., `?symbol=BTCUSDT&limit=100`)  \n- `symbol` is always uppercase, no `/` or `-` (e.g., `BTCUSDT`)  \n\n---\n\n## \ud83d\udccc Available Market Data Endpoints\n\n1. **Order Book Depth**  \n   `GET /api/v3/depth?symbol=BTCUSDT&limit=100`  \n   \u2022 Returns top bids/asks up to the limit (default 100, max 5000).  \n\n2. **Recent Trades**  \n   `GET /api/v3/trades?symbol=BTCUSDT&limit=100`  \n   \u2022 Most recent trades (default 500, max 1000).  \n\n3. **Aggregate Trades**  \n   `GET /api/v3/aggTrades?symbol=BTCUSDT&limit=100`  \n   \u2022 Aggregated trades by taker, price, and time.  \n\n4. **Kline / Candlestick Data**  \n   `GET /api/v3/klines?symbol=BTCUSDT&interval=15m&limit=20`  \n   \u2022 Supported intervals: `1m,3m,5m,15m,30m,1h,2h,4h,6h,8h,12h,1d,3d,1w,1M`  \n   \u2022 Default limit = 500 (max 1000).  \n\n5. **Current Average Price**  \n   `GET /api/v3/avgPrice?symbol=BTCUSDT`  \n   \u2022 Returns rolling average price.  \n\n6. **24hr Ticker Price Change Statistics**  \n   `GET /api/v3/ticker/24hr?symbol=BTCUSDT`  \n   \u2022 Includes open, high, low, last, volume, % change, etc.  \n\n7. **Latest Symbol Price**  \n   `GET /api/v3/ticker/price?symbol=BTCUSDT`  \n   \u2022 Returns the latest trade price.  \n\n8. **Order Book Best Bid/Ask**  \n   `GET /api/v3/ticker/bookTicker?symbol=BTCUSDT`  \n   \u2022 Returns best bid and ask with sizes.  \n\n---\n\n## \ud83e\udde9 Utility Tools\n\n- **Calculator** \u2192 Perform math inside the workflow (e.g., spreads, % changes, normalizations).  \n- **Think** \u2192 Lightweight reasoning helper to reshape JSON, select fields, and prepare outputs.  \n\n---\n\n## \ud83d\udce4 Output Format (Telegram HTML)\n\nStart every response with:  \n```html\n<b>{{SYMBOL}} \u2014 Binance Spot Data</b>\n````\n\nThen group logically:\n\n```html\n<b>Price</b>\n\u2022 Last: {{lastPrice}}\n\u2022 Avg: {{avgPrice}}\n\u2022 Change (24h): {{pctChange}}%\n\n<b>24h Stats</b>\n\u2022 Open: {{open}} \u2022 High: {{high}} \u2022 Low: {{low}} \u2022 Close: {{close}}\n\u2022 Volume: {{baseVol}} \u2022 Quote Vol: {{quoteVol}}\n\n<b>Order Book (Top 5)</b>\n\u2022 Bids: [price x qty] \u2026\n\u2022 Asks: [price x qty] \u2026\n\n<b>Klines (latest 20)</b>\n\u2022 Interval: {{interval}} (O/H/L/C per candle)\n```\n\n---\n\n## \u26a0\ufe0f Rules\n\n* Always **call the correct API endpoint** for the requested data.\n* Do **not** fabricate or calculate values yourself.\n* Do **not** provide trading advice, sentiment, or predictions.\n* Do **not** output raw JSON; always present clean, human-readable values.\n* If data is missing or request fails, show `N/A`.\n\n```\n"
        }
      },
      "id": "71022660-e4cb-4adf-9c94-da5a4445d2f9",
      "name": "Binance  AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        848,
        -256
      ],
      "typeVersion": 1.8
    },
    {
      "parameters": {
        "toolDescription": "### \ud83c\udff7 Tool: **Price (Latest)**\n\n**Endpoint:** `GET /api/v3/ticker/price`\n**What it does:** Returns the **latest trade price** for a symbol.\n**Params:** `symbol` (STRING, optional for all symbols; **we send it**)\n**Request weight:** `2` with `symbol` (otherwise `4`).\n**Returns:** `{\"symbol\":\"BTCUSDT\",\"price\":\"...\"}`\n**n8n query mapping:**\n\n```txt\nsymbol = $fromAI('parameters0_Value', '', 'string')\n```\n\n**Notes:** Use UPPERCASE symbols without `-` or `/` (e.g., `BTCUSDT`).",
        "url": "https://api.binance.com/api/v3/ticker/price",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "a4e14af5-836c-499f-9906-9010636b293d",
      "name": "Price (Latest)",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        1392,
        144
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "toolDescription": "### \ud83c\udff7 Tool: **24h Stats**\n\n**Endpoint:** `GET /api/v3/ticker/24hr`\n**What it does:** 24-hour rolling window stats: **open/high/low/last**, **volume**, **quoteVolume**, **% change**, etc.\n**Params:**\n\n* `symbol` (STRING, optional but we send it)\n* (Mutually exclusive with `symbols`)\n  **Request weight:** `2` with one `symbol`; heavier without or with many symbols.\n  **Returns (FULL):** priceChange, priceChangePercent, weightedAvgPrice, openPrice, highPrice, lowPrice, lastPrice, volume, quoteVolume, openTime, closeTime, firstId, lastId, count.\n  **n8n query mapping:**\n\n```txt\nsymbol = $fromAI('parameters0_Value', '', 'string')\n```\n\n**Notes:** Rolling window differs from `ticker/tradingDay`.&#x20;",
        "url": "https://api.binance.com/api/v3/ticker/24hr",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "37ba2ca7-eadf-4329-8eb9-a54752696924",
      "name": "24h Stats",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        912,
        144
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "toolDescription": "### \ud83c\udff7 Tool: **Order Book Depth**\n\n**Endpoint:** `GET /api/v3/depth`\n**What it does:** Returns **order book** bids/asks up to `limit`.\n**Params:**\n\n* `symbol` (STRING, required)\n* `limit` (INT, default 100; max 5000; we default 100)\n  **Request weight:** varies by `limit` (1\u2013100 \u2192 5; 101\u2013500 \u2192 25; 501\u20131000 \u2192 50; 1001\u20135000 \u2192 250).\n  **Returns:** `lastUpdateId`, `bids: [[price, qty], ...]`, `asks: [[price, qty], ...]`\n  **n8n query mapping:**\n\n```txt\nsymbol = $fromAI('parameters0_Value', '', 'string')\nlimit  = $fromAI('parameters1_Value', 100, 'number')\n```\n\n**Notes:** If `limit > 5000`, only 5000 are returned.",
        "url": "https://api.binance.com/api/v3/depth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "limit",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `100`, 'number') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "8de1240e-471f-4dad-8a8d-d41f03baa516",
      "name": "Order Book Depth",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        1152,
        144
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "toolDescription": "### \ud83c\udff7 Tool: **Best Bid/Ask (Book Ticker)**\n\n**Endpoint:** `GET /api/v3/ticker/bookTicker`\n**What it does:** Best **bid/ask** and sizes for the symbol.\n**Params:** `symbol` (optional; **we send it**)\n**Request weight:** `2` with `symbol`, `4` otherwise.\n**Returns:** `{\"symbol\":\"BTCUSDT\",\"bidPrice\":\"...\",\"bidQty\":\"...\",\"askPrice\":\"...\",\"askQty\":\"...\"}`\n**n8n query mapping:**\n\n```txt\nsymbol = $fromAI('parameters0_Value', '', 'string')\n```\n\n**Notes:** Great for quick spread snapshot.",
        "url": "https://api.binance.com/api/v3/ticker/bookTicker",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9103bff5-198a-4dca-b036-babf0c17b8fd",
      "name": "Best Bid/Ask",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        1632,
        144
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "toolDescription": "### \ud83c\udff7 Tool: **Klines (Candles)**\n\n**Endpoint:** `GET /api/v3/klines`\n**What it does:** Candlestick bars for a symbol/interval.\n**Params:**\n\n* `symbol` (STRING, required)\n* `interval` (ENUM, required \u2014 e.g., `1m,3m,5m,15m,30m,1h,2h,4h,6h,8h,12h,1d,3d,1w,1M`)\n* `limit` (INT, default 500, max 1000 \u2014 **we set 20**)\n* `startTime`, `endTime`, `timeZone` (optional)\n  **Request weight:** `2`.\n  **Returns (array per candle):** `[ openTime, open, high, low, close, volume, closeTime, quoteAssetVolume, numberOfTrades, takerBuyBaseVolume, takerBuyQuoteVolume, ignore ]`\n  **n8n query mapping:**\n\n```txt\nsymbol  = $fromAI('parameters0_Value', '', 'string')\ninterval= $fromAI('parameters1_Value', '15m', 'string')\nlimit   = $fromAI('parameters2_Value', 20, 'number')\n```\n\n**Notes:** Without `startTime/endTime`, returns most recent.",
        "url": "https://api.binance.com/api/v3/klines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "interval",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `15m`, 'string') }}"
            },
            {
              "name": "limit",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters2_Value', `20`, 'number') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "f38ca85d-0365-4b41-8e5d-751162e144b5",
      "name": "Klines (Candles)",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        1872,
        144
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "toolDescription": "### \ud83c\udff7 Tool: **Average Price**\n\n**Endpoint:** `GET /api/v3/avgPrice`\n**What it does:** **Current average price** for a symbol (rolling).\n**Params:** `symbol` (STRING, required)\n**Request weight:** `2`.\n**Returns:** `{\"mins\":5,\"price\":\"...\",\"closeTime\":...}`\n**n8n query mapping:**\n\n```txt\nsymbol = $fromAI('parameters0_Value', '', 'string')\n```\n\n**Notes:** Fast way to include an average alongside `lastPrice`.",
        "url": "https://api.binance.com/api/v3/avgPrice",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "5a4b9084-78c2-469b-9264-6c69043fd025",
      "name": "Average Price",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        2112,
        144
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "toolDescription": "### \ud83c\udff7 Tool: **Recent Trades**\n\n**Endpoint:** `GET /api/v3/trades`\n**What it does:** **Most recent trades** for a symbol.\n**Params:**\n\n* `symbol` (STRING, required)\n* `limit` (INT, default 500, max 1000 \u2014 **we set default 100**)\n  **Request weight:** `25`.\n  **Returns:** array of trades `{id, price, qty, quoteQty, time, isBuyerMaker, isBestMatch}`\n  **n8n query mapping:**\n\n```txt\nsymbol = $fromAI('parameters0_Value', '', 'string')\nlimit  = $fromAI('parameters1_Value', 100, 'number')\n```\n\n**Notes:** For older trades, use `/historicalTrades`.",
        "url": "https://api.binance.com/api/v3/trades",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "symbol",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters0_Value', ``, 'string') }}"
            },
            {
              "name": "limit",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('parameters1_Value', `100`, 'number') }}"
            }
          ]
        },
        "options": {}
      },
      "id": "08791c8a-57b0-48fe-932f-c5099c3c1e8c",
      "name": "Recent Trades",
      "type": "n8n-nodes-base.httpRequestTool",
      "position": [
        2352,
        144
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### **24h Stats**\n\n**Endpoint:** `GET /api/v3/ticker/24hr`\n**What it does:** 24-hour rolling window stats: **open/high/low/last**, **volume**, **quoteVolume**, **% change**, etc.\n**Params:**\n\n* `symbol` (STRING, optional but we send it)\n* (Mutually exclusive with `symbols`)\n  **Request weight:** `2` with one `symbol`; heavier without or with many symbols.\n  **Returns (FULL):** priceChange, priceChangePercent, weightedAvgPrice, openPrice, highPrice, lowPrice, lastPrice, volume, quoteVolume, openTime, closeTime, firstId, lastId, count.\n  **n8n query mapping:**\n\n```txt\nsymbol = $fromAI('parameters0_Value', '', 'string')\n```\n\n**Notes:** Rolling window differs from `ticker/tradingDay`.&#x20;",
        "height": 964,
        "color": 6
      },
      "id": "36a469cb-76c0-415b-bf68-718d87ac6bf8",
      "name": "Sticky Note10",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        832,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### Price (Latest)\n\n**Endpoint:** `GET /api/v3/ticker/price`\n**What it does:** Returns the **latest trade price** for a symbol.\n**Params:** `symbol` (STRING, optional for all symbols; **we send it**)\n**Request weight:** `2` with `symbol` (otherwise `4`).\n**Returns:** `{\"symbol\":\"BTCUSDT\",\"price\":\"...\"}`\n**n8n query mapping:**\n\n```txt\nsymbol = $fromAI('parameters0_Value', '', 'string')\n```\n\n**Notes:** Use UPPERCASE symbols without `-` or `/` (e.g., `BTCUSDT`).",
        "height": 772,
        "color": 6
      },
      "id": "f1282819-8293-4de6-9250-538ca17084d8",
      "name": "Sticky Note11",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1312,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### **Klines (Candles)**\n\n**Endpoint:** `GET /api/v3/klines`\n**What it does:** Candlestick bars for a symbol/interval.\n**Params:**\n\n* `symbol` (STRING, required)\n* `interval` (ENUM, required \u2014 e.g., `1m,3m,5m,15m,30m,1h,2h,4h,6h,8h,12h,1d,3d,1w,1M`)\n* `limit` (INT, default 500, max 1000 \u2014 **we set 20**)\n* `startTime`, `endTime`, `timeZone` (optional)\n  **Request weight:** `2`.\n  **Returns (array per candle):** `[ openTime, open, high, low, close, volume, closeTime, quoteAssetVolume, numberOfTrades, takerBuyBaseVolume, takerBuyQuoteVolume, ignore ]`\n  **n8n query mapping:**\n\n```txt\nsymbol  = $fromAI('parameters0_Value', '', 'string')\ninterval= $fromAI('parameters1_Value', '15m', 'string')\nlimit   = $fromAI('parameters2_Value', 20, 'number')\n```\n\n**Notes:** Without `startTime/endTime`, returns most recent.",
        "height": 1060,
        "color": 6
      },
      "id": "eea08624-514d-4fa8-a4b4-efa4daf52695",
      "name": "Sticky Note12",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1792,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### /**Average Price**\n\n**Endpoint:** `GET /api/v3/avgPrice`\n**What it does:** **Current average price** for a symbol (rolling).\n**Params:** `symbol` (STRING, required)\n**Request weight:** `2`.\n**Returns:** `{\"mins\":5,\"price\":\"...\",\"closeTime\":...}`\n**n8n query mapping:**\n\n```txt\nsymbol = $fromAI('parameters0_Value', '', 'string')\n```\n\n**Notes:** Fast way to include an average alongside `lastPrice`.",
        "height": 740,
        "color": 6
      },
      "id": "d1fa710c-ff3e-4c7d-b8dc-f5adb6bf7442",
      "name": "Sticky Note13",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2032,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### **Recent Trades**\n\n**Endpoint:** `GET /api/v3/trades`\n**What it does:** **Most recent trades** for a symbol.\n**Params:**\n\n* `symbol` (STRING, required)\n* `limit` (INT, default 500, max 1000 \u2014 **we set default 100**)\n  **Request weight:** `25`.\n  **Returns:** array of trades `{id, price, qty, quoteQty, time, isBuyerMaker, isBestMatch}`\n  **n8n query mapping:**\n\n```txt\nsymbol = $fromAI('parameters0_Value', '', 'string')\nlimit  = $fromAI('parameters1_Value', 100, 'number')\n```\n\n**Notes:** For older trades, use `/historicalTrades`.",
        "height": 868,
        "color": 6
      },
      "id": "e7155399-f9b8-4cc3-b488-4fe6c4f68aa1",
      "name": "Sticky Note14",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2272,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "8f790dde-dd3a-4795-a5d5-d2f0a5facaec",
      "name": "Calculator",
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "position": [
        2592,
        144
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "description": "### \ud83c\udff7 Tool: **Think**\n\n**Purpose:**\n\n* Lightweight **reasoning helper**.\n* Lets the AI Agent process intermediate logic, format outputs, or decide how to combine multiple API results before sending the final report.\n* Does not fetch data itself.\n\n**Use cases:**\n\n* Clean/reshape JSON from Binance endpoints\n* Extract only the needed fields (e.g., `lastPrice`, `volume`)\n* Help prepare data for Telegram message formatting\n\n**n8n setup notes:**\n\n* No API call, just an **AI Tool** node.\n* Connect upstream API results \u2192 Think \u2192 Report Agent."
      },
      "id": "64e45dee-3756-4a08-8ec5-7e71011479de",
      "name": "Think",
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "position": [
        2832,
        144
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### **Calculator**\n\n**Purpose:**\n\n* Perform **math operations** inside the workflow.\n* Supports add/subtract/multiply/divide, percentages, rounding, etc.\n\n**Use cases:**\n\n* Calculate spreads (ask \u2013 bid)\n* Compute % changes from open vs. last price\n* Normalize volumes or confidence scores\n\n**n8n setup notes:**\n\n* Node: `Calculator` (n8n built-in)\n* Input fields can come from Binance API JSON\n* Output can be chained into Think \u2192 Final Report\n",
        "height": 836,
        "color": 6
      },
      "id": "a6a192c5-729a-4b84-9b43-8595ffc1f6be",
      "name": "Sticky Note15",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2512,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n### **Think**\n\n**Purpose:**\n\n* Lightweight **reasoning helper**.\n* Lets the AI Agent process intermediate logic, format outputs, or decide how to combine multiple API results before sending the final report.\n* Does not fetch data itself.\n\n**Use cases:**\n\n* Clean/reshape JSON from Binance endpoints\n* Extract only the needed fields (e.g., `lastPrice`, `volume`)\n* Help prepare data for Telegram message formatting\n\n**n8n setup notes:**\n\n* No API call, just an **AI Tool** node.\n* Connect upstream API results \u2192 Think \u2192 Report Agent.",
        "height": 932,
        "color": 6
      },
      "id": "0facf4c4-fe1e-4a83-a24b-4ecb1df1a497",
      "name": "Sticky Note16",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2752,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "# \ud83d\udcd8 Binance AI Agent v1.02 \u2014 Documentation\n\n## \ud83d\udd39 Overview\n\nThis workflow connects a **Telegram Bot** to Binance\u2019s Spot Market REST API using an **AI-powered Agent**.\nIt allows you to fetch **real-time market data** (prices, stats, order book, trades, klines, etc.), process it through **OpenAI**, and deliver **clean formatted reports** back to Telegram.\n\n---\n\n## \u26a1 Workflow Flow\n\n1. **Telegram Trigger**\n\n   * Listens for incoming Telegram messages.\n   * Passes raw user text downstream.\n\n2. **User Authentication**\n\n   * Verifies sender\u2019s Telegram ID against a whitelist.\n   * Unauthorized users are blocked.\n\n3. **Session Setup**\n\n   * Creates `sessionId` from Telegram `chat.id`.\n   * Attaches user message text.\n   * Enables memory across multiple turns.\n\n4. **Binance AI Agent**\n\n   * Core orchestrator.\n   * Fetches live data directly from Binance API.\n   * Uses OpenAI only to **format results**, not to trade/analyze.\n   * Responds in **Telegram HTML format**.\n\n5. **Message Splitter**\n\n   * Ensures Telegram\u2019s 4000-character limit isn\u2019t exceeded.\n   * Splits long responses into safe chunks.\n\n6. **Telegram Send**\n\n   * Delivers the final formatted report (or multiple chunks) back to the authorized user.\n\n---\n\n## \ud83e\udde0 Memory & Reasoning\n\n* **Simple Memory**\n  Stores `sessionId`, requested symbol, and context for multi-turn Telegram chats.\n\n* **OpenAI Chat Model (gpt-4.1-mini)**\n  Handles reasoning, structuring, and output formatting.\n\n* **Think Tool**\n  Helps reshape JSON, pick relevant fields, and prepare clean messages.\n\n* **Calculator Tool**\n  Used for spreads, % changes, and simple math on Binance results.\n\n---\n\n## \ud83d\udd17 Binance API Endpoints Used\n\nAll requests are **HTTP GET** with **JSON responses**.\nSymbols are always uppercase (e.g., `BTCUSDT`).\n\n1. **Price (Latest)**\n   `GET /api/v3/ticker/price?symbol=BTCUSDT`\n\n   * Latest trade price.\n   * Weight: 2\n\n2. **24h Stats**\n   `GET /api/v3/ticker/24hr?symbol=BTCUSDT`\n\n   * Open, High, Low, Last, Volume, % Change.\n   * Weight: 2\n\n3. **Order Book Depth**\n   `GET /api/v3/depth?symbol=BTCUSDT&limit=100`\n\n   * Top bids/asks (default 100, max 5000).\n   * Weight: 5\u2013250 depending on limit.\n\n4. **Best Bid/Ask (Book Ticker)**\n   `GET /api/v3/ticker/bookTicker?symbol=BTCUSDT`\n\n   * Best bid/ask + sizes.\n   * Weight: 2\n\n5. **Klines (Candles)**\n   `GET /api/v3/klines?symbol=BTCUSDT&interval=15m&limit=20`\n\n   * O/H/L/C data per interval.\n   * Default 500, we set 20.\n   * Weight: 2\n\n6. **Average Price**\n   `GET /api/v3/avgPrice?symbol=BTCUSDT`\n\n   * Rolling average price.\n   * Weight: 2\n\n7. **Recent Trades**\n   `GET /api/v3/trades?symbol=BTCUSDT&limit=100`\n\n   * Most recent trades (default 500, max 1000).\n   * Weight: 25\n\n---\n\n## \ud83d\udce4 Output Format (Telegram HTML)\n\nEach response starts with:\n\n```html\n<b>BTCUSDT \u2014 Binance Spot Data</b>\n```\n\nExample structure:\n\n```html\n<b>Price</b>\n\u2022 Last: 43650.23\n\u2022 Avg: 43640.18\n\u2022 Change (24h): +1.35%\n\n<b>24h Stats</b>\n\u2022 Open: 43000 \u2022 High: 44000 \u2022 Low: 42500 \u2022 Close: 43650\n\u2022 Volume: 12,345 BTC \u2022 Quote Vol: 532M USDT\n\n<b>Order Book (Top 5)</b>\n\u2022 Bids: [43640 \u00d7 1.2] \u2026\n\u2022 Asks: [43660 \u00d7 0.9] \u2026\n\n<b>Klines (latest 20)</b>\n\u2022 Interval: 15m (O/H/L/C per candle)\n```\n\n---\n\n## \u26a0\ufe0f Rules & Restrictions\n\n* \u2705 Always call Binance\u2019s official API.\n* \u2705 Present data clearly (HTML for Telegram).\n* \u274c Do not analyze or recommend trades.\n* \u274c Do not output raw JSON.\n* \u274c Do not fabricate values.\n* \u26a0\ufe0f Show `N/A` if data unavailable.\n\n---\n\n## \ud83d\ude80 Support & Licensing\n\n\ud83d\udd17 **Don Jayamaha \u2013 LinkedIn**\n[linkedin.com/in/donjayamahajr](http://linkedin.com/in/donjayamahajr)\n\n\u00a9 2025 Treasurium Capital Limited Company.\nAll rights reserved. This system architecture, prompts, and workflow structure are proprietary and protected by **U.S. copyright law**.\nReuse or resale prohibited without license.\n\n",
        "height": 3584,
        "width": 1584
      },
      "id": "5ddf605b-e8b5-4b19-a933-eca6083fe860",
      "name": "Sticky Note17",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3952,
        -1568
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -64,
        -256
      ],
      "id": "fc43fee5-cf57-454b-bb90-1add09e934d5",
      "name": "Schedule Trigger"
    },
    {
      "id": "ScheduleTrigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        200,
        200
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "mode": "every",
              "value": 5
            }
          ]
        }
      }
    },
    {
      "id": "ConfigSet",
      "name": "Prompt & Config (Set)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        420,
        200
      ],
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "prompt_name",
              "value": "Confluence Entry Gate"
            },
            {
              "name": "detailed_prompt",
              "value": "Trade only when at least 3 confluences: trend up, volume expansion, positive delta, and bid > ask."
            },
            {
              "name": "execution_note",
              "value": "TP +2%, SL -1%, size risk 0.5% of equity, send Telegram summary."
            },
            {
              "name": "secrets.binanceKey",
              "value": "PUT_YOUR_BINANCE_API_KEY_HERE"
            },
            {
              "name": "secrets.binanceSecret",
              "value": "PUT_YOUR_BINANCE_SECRET_HERE"
            },
            {
              "name": "telegram.chatId",
              "value": "PUT_TELEGRAM_CHAT_ID_HERE"
            }
          ],
          "number": [
            {
              "name": "config.equity",
              "value": 10000
            },
            {
              "name": "config.riskPct",
              "value": 0.005
            },
            {
              "name": "filters.tickSize",
              "value": 0.01
            },
            {
              "name": "filters.stepSize",
              "value": 0.001
            }
          ],
          "boolean": [
            {
              "name": "config.isSpot",
              "value": true
            }
          ],
          "array": [
            {
              "name": "symbols",
              "value": [
                "BTCUSDT",
                "ETHUSDT",
                "SOLUSDT"
              ]
            }
          ]
        }
      }
    },
    {
      "id": "SymbolsFanout",
      "name": "Symbols \u2192 Items (Function)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        660,
        200
      ],
      "parameters": {
        "functionCode": "const symbols = $json.symbols || [];\nreturn symbols.map(s => ({ json: { symbol: s, config: $json.config, secrets: $json.secrets, telegram: $json.telegram, prompt_name: $json.prompt_name, detailed_prompt: $json.detailed_prompt, execution_note: $json.execution_note } }));\n"
      }
    },
    {
      "id": "HTTP_Price",
      "name": "Price (GET /ticker/price)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        40
      ],
      "parameters": {
        "url": "https://api.binance.com/api/v3/ticker/price",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "symbol",
              "value": "={{$json.symbol}}"
            }
          ]
        }
      },
      "credentials": {}
    },
    {
      "id": "HTTP_24h",
      "name": "24h Stats (GET /ticker/24hr)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        120
      ],
      "parameters": {
        "url": "https://api.binance.com/api/v3/ticker/24hr",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "symbol",
              "value": "={{$json.symbol}}"
            }
          ]
        }
      },
      "credentials": {}
    },
    {
      "id": "HTTP_Book",
      "name": "Book Ticker (GET /ticker/bookTicker)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        200
      ],
      "parameters": {
        "url": "https://api.binance.com/api/v3/ticker/bookTicker",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "symbol",
              "value": "={{$json.symbol}}"
            }
          ]
        }
      },
      "credentials": {}
    },
    {
      "id": "HTTP_Depth",
      "name": "Depth (GET /depth)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        280
      ],
      "parameters": {
        "url": "https://api.binance.com/api/v3/depth",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "symbol",
              "value": "={{$json.symbol}}"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        }
      },
      "credentials": {}
    },
    {
      "id": "HTTP_Klines",
      "name": "Klines 5m (GET /klines)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        360
      ],
      "parameters": {
        "url": "https://api.binance.com/api/v3/klines",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "symbol",
              "value": "={{$json.symbol}}"
            },
            {
              "name": "interval",
              "value": "5m"
            },
            {
              "name": "limit",
              "value": "120"
            }
          ]
        }
      },
      "credentials": {}
    },
    {
      "id": "HTTP_Trades",
      "name": "Recent Trades (GET /trades)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        900,
        440
      ],
      "parameters": {
        "url": "https://api.binance.com/api/v3/trades",
        "options": {},
        "queryParametersUi": {
          "parameter": [
            {
              "name": "symbol",
              "value": "={{$json.symbol}}"
            },
            {
              "name": "limit",
              "value": "100"
            }
          ]
        }
      },
      "credentials": {}
    },
    {
      "id": "MergeAll",
      "name": "Merge Data (Wait)",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [
        1120,
        240
      ],
      "parameters": {
        "mode": "wait"
      }
    },
    {
      "id": "ComputeIndicators",
      "name": "Compute Indicators (Function)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1330,
        240
      ],
      "parameters": {
        "functionCode": "// Assume input0: Price, input1: 24h, input2: Book, input3: Depth, input4: Klines, input5: Trades\nconst price = items[0].json;\nconst stats24h = items[1].json;\nconst book = items[2].json;\nconst depth = items[3].json;\nconst klines = items[4].json;\nconst trades = items[5].json;\n\nfunction ema(values, period) {\n  const k = 2/(period+1);\n  let e = values[0];\n  for (let i=1;i<values.length;i++) e = values[i]*k + e*(1-k);\n  return e;\n}\nfunction sma(arr, p){\n  const s = arr.slice(-p);\n  return s.reduce((a,b)=>a+b,0)/s.length;\n}\nfunction rsi(closes, period=14) {\n  if (closes.length <= period+1) return 50;\n  let gains=0, losses=0;\n  for (let i=1;i<=period;i++){\n    const diff = closes[i]-closes[i-1];\n    if (diff>=0) gains+=diff; else losses-=diff;\n  }\n  let avgGain=gains/period, avgLoss=losses/period || 1e-9;\n  for (let i=period+1;i<closes.length;i++){\n    const diff = closes[i]-closes[i-1];\n    const gain = diff>0?diff:0;\n    const loss = diff<0?-diff:0;\n    avgGain=(avgGain*(period-1)+gain)/period;\n    avgLoss=(avgLoss*(period-1)+loss)/period;\n  }\n  const rs=avgGain/avgLoss;\n  return 100 - 100/(1+rs);\n}\n\nconst closes5m = (Array.isArray(klines)?klines:[]).map(c => parseFloat(c[4]));\nconst vols5m = (Array.isArray(klines)?klines:[]).map(c => parseFloat(c[5]));\nconst lastClose = closes5m[closes5m.length-1];\n\nconst ema9 = ema(closes5m.slice(-60),9);\nconst ema21 = ema(closes5m.slice(-60),21);\nconst ema50 = ema(closes5m.slice(-120),50);\nconst rsi14 = rsi(closes5m.slice(-100),14);\nconst avgVol20 = sma(vols5m,20);\nconst vol = vols5m[vols5m.length-1];\n\nconst bid = parseFloat(book.bidPrice || price.price);\nconst ask = parseFloat(book.askPrice || price.price);\nconst spread = (ask - bid)/((ask+bid)/2);\n\nconst bids = (depth.bids||[]).slice(0,50).reduce((s,[p,q])=>s+parseFloat(q),0);\nconst asks = (depth.asks||[]).slice(0,50).reduce((s,[p,q])=>s+parseFloat(q),0);\n\nlet delta=0;\nfor (const t of (trades||[])) {\n  const qty = parseFloat(t.qty || t.quantity || 0);\n  delta += (t.isBuyerMaker ? -qty : qty);\n}\n\nconst features = {\n  symbol: price.symbol || stats24h.symbol,\n  ema9, ema21, ema50,\n  lastClose,\n  vol, avgVol20,\n  spread, bidDepth: bids, askDepth: asks,\n  delta,\n  change24h: parseFloat(stats24h.priceChangePercent || 0),\n  rsi14\n};\n\nreturn [{ json: { ...$json, features } }];\n"
      }
    },
    {
      "id": "EvaluateIF",
      "name": "Evaluate IF (Function)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1540,
        240
      ],
      "parameters": {
        "functionCode": "// Template IF for 'Confluence Entry Gate' \u2014 replace with your prompt's condition\nconst F = $json.features;\nconst signal = (F.ema9 > F.ema21) && (F.vol > 1.5*F.avgVol20) && (F.delta > 0) && (F.bidDepth > F.askDepth);\nreturn [{ json: { ...$json, decision: { signal, reason: \"EMA9>21 && vol>1.5x && delta>0 && bid>ask\" } } }];\n"
      }
    },
    {
      "id": "IFNode",
      "name": "IF signal?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1750,
        240
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.decision.signal}}"
            }
          ]
        }
      }
    },
    {
      "id": "BuildOrder",
      "name": "Build Order Intent (Function)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1960,
        120
      ],
      "parameters": {
        "functionCode": "function roundStep(v, step=0.001){ return Math.floor(v/step)*step; }\nfunction roundTick(v, tick=0.01){ return Math.floor(v/tick)*tick; }\n\nconst F = $json.features;\nconst entry = F.lastClose || 0;\nconst equity = $json.config?.equity || 10000;\nconst riskPct = $json.config?.riskPct || 0.005;\nconst risk$ = equity * riskPct;\n\nconst tp = entry * 1.02;\nconst sl = entry * 0.99;\nconst stopDist = entry - sl;\nconst qtyRaw = risk$ / stopDist;\n\nconst qty = roundStep(qtyRaw, $json[\"filters.stepSize\"] || 0.001);\nconst price = roundTick(entry, $json[\"filters.tickSize\"] || 0.01);\n\nreturn [{ json: { ...$json, order_intent: {\n  symbol: F.symbol, side: \"BUY\", type: \"LIMIT\", timeInForce: \"GTC\",\n  price, quantity: qty, tp, sl\n} } }];\n"
      }
    },
    {
      "id": "SignOrder",
      "name": "Sign Order (Function)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        2160,
        120
      ],
      "parameters": {
        "functionCode": "const crypto = require('crypto');\nconst o = $json.order_intent;\nconst timestamp = Date.now();\nconst recvWindow = 5000;\n\nconst params = new URLSearchParams({\n  symbol: o.symbol,\n  side: o.side,\n  type: o.type,\n  timeInForce: o.timeInForce,\n  quantity: String(o.quantity),\n  price: String(o.price),\n  timestamp: String(timestamp),\n  recvWindow: String(recvWindow),\n});\n\nconst secret = $json.secrets?.binanceSecret || 'PUT_SECRET';\nconst signature = crypto.createHmac('sha256', secret).update(params.toString()).digest('hex');\n\nreturn [{ json: { ...$json, signed_order: {\n  query: params.toString() + `&signature=${signature}`,\n  apiKeyHeader: $json.secrets?.binanceKey || 'PUT_API_KEY'\n} } }];\n"
      }
    },
    {
      "id": "HTTP_PlaceOrder",
      "name": "Place Order (POST /api/v3/order)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2360,
        120
      ],
      "parameters": {
        "url": "https://api.binance.com/api/v3/order",
        "method": "POST",
        "sendQuery": false,
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "X-MBX-APIKEY",
              "value": "={{$json.signed_order.apiKeyHeader}}"
            }
          ]
        },
        "contentType": "form-urlencoded",
        "jsonParameters": false,
        "sendBody": true,
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "=",
              "value": "={{$json.signed_order.query}}"
            }
          ]
        }
      },
      "credentials": {}
    },
    {
      "id": "AppendExcel",
      "name": "Append to Excel (Spreadsheet File)",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        2560,
        120
      ],
      "parameters": {
        "operation": "append",
        "options": {
          "headerRow": true
        },
        "sheetName": "trades",
        "fileName": "/mnt/data/trades.xlsx",
        "data": "={{ [{ timestamp: (new Date()).toISOString(), prompt_name: $json.prompt_name, symbol: $json.order_intent.symbol, side: $json.order_intent.side, type: $json.order_intent.type, price: $json.order_intent.price, quantity: $json.order_intent.quantity, tp: $json.order_intent.tp, sl: $json.order_intent.sl, spread: $json.features.spread, bidDepth: $json.features.bidDepth, askDepth: $json.features.askDepth, delta: $json.features.delta, change24h: $json.features.change24h, decision_reason: $json.decision.reason } ] }}"
      }
    },
    {
      "id": "BuildTelegram",
      "name": "Build Telegram (Function)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        2760,
        120
      ],
      "parameters": {
        "functionCode": "const o = $json.order_intent;\nconst F = $json.features;\nconst fmt = (n)=> Number(n).toLocaleString(undefined,{maximumFractionDigits:6});\nconst msg = [\n  '<b>Trade Executed \u2705</b>',\n  `<b>Prompt:</b> ${$json.prompt_name}`,\n  `<b>Symbol:</b> ${o.symbol}`,\n  `<b>Side:</b> ${o.side} ${o.type} @ ${fmt(o.price)} x ${fmt(o.quantity)}`,\n  `<b>TP/SL:</b> ${fmt(o.tp)} / ${fmt(o.sl)}`,\n  `<b>Spread:</b> ${(F.spread*100).toFixed(3)}%`,\n  `<b>Bid/Ask Depth:</b> ${fmt(F.bidDepth)} / ${fmt(F.askDepth)}`,\n  `<b>Delta:</b> ${fmt(F.delta)} | <b>24h%:</b> ${F.change24h}%`,\n  `<i>${$json.detailed_prompt}</i>`\n].join('\\n');\nreturn [{ json: { message: msg, chatId: $json.telegram?.chatId || '' } }];\n"
      }
    },
    {
      "id": "TelegramSend",
      "name": "Telegram Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        2960,
        120
      ],
      "parameters": {
        "operation": "sendMessage",
        "text": "={{$json.message}}",
        "additionalFields": {
          "parse_mode": "HTML"
        },
        "chatId": "={{$json.chatId}}"
      },
      "credentials": {
        "telegramApi": {
          "id": "PUT_YOUR_TELEGRAM_CREDENTIAL_ID",
          "name": "Telegram API"
        }
      }
    },
    {
      "id": "NoTradeMsg",
      "name": "No-Trade Message (Function)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 2,
      "position": [
        1960,
        360
      ],
      "parameters": {
        "functionCode": "const msg = `\u23f8 No-trade for ${$json.features.symbol} on ${$json.prompt_name}: conditions not met.`;\nreturn [{ json: { message: msg, chatId: $json.telegram?.chatId || '' } }];\n"
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Binance  AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "24h Stats": {
      "ai_tool": [
        [
          {
            "node": "Binance  AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "Binance  AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Best Bid/Ask": {
      "ai_tool": [
        [
          {
            "node": "Binance  AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Average Price": {
      "ai_tool": [
        [
          {
            "node": "Binance  AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Recent Trades": {
      "ai_tool": [
        [
          {
            "node": "Binance  AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Binance  AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Price (Latest)": {
      "ai_tool": [
        [
          {
            "node": "Binance  AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Adds \"SessionId\"": {
      "main": [
        []
      ]
    },
    "Klines (Candles)": {
      "ai_tool": [
        [
          {
            "node": "Binance  AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Order Book Depth": {
      "ai_tool": [
        [
          {
            "node": "Binance  AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "User Authentication (Replace Telegram ID)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Binance  AI Agent": {
      "main": [
        [
          {
            "node": "Splits message is more than 4000 characters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Binance  AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "User Authentication (Replace Telegram ID)": {
      "main": [
        [
          {
            "node": "Adds \"SessionId\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Splits message is more than 4000 characters": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        {
          "node": "Prompt & Config (Set)",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Prompt & Config (Set)": {
      "main": [
        {
          "node": "Symbols \u2192 Items (Function)",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Symbols \u2192 Items (Function)": {
      "main": [
        {
          "node": "Price (GET /ticker/price)",
          "type": "main",
          "index": 0
        },
        {
          "node": "24h Stats (GET /ticker/24hr)",
          "type": "main",
          "index": 0
        },
        {
          "node": "Book Ticker (GET /ticker/bookTicker)",
          "type": "main",
          "index": 0
        },
        {
          "node": "Depth (GET /depth)",
          "type": "main",
          "index": 0
        },
        {
          "node": "Klines 5m (GET /klines)",
          "type": "main",
          "index": 0
        },
        {
          "node": "Recent Trades (GET /trades)",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Price (GET /ticker/price)": {
      "main": [
        {
          "node": "Merge Data (Wait)",
          "type": "main",
          "index": 0
        }
      ]
    },
    "24h Stats (GET /ticker/24hr)": {
      "main": [
        {
          "node": "Merge Data (Wait)",
          "type": "main",
          "index": 1
        }
      ]
    },
    "Book Ticker (GET /ticker/bookTicker)": {
      "main": [
        {
          "node": "Merge Data (Wait)",
          "type": "main",
          "index": 2
        }
      ]
    },
    "Depth (GET /depth)": {
      "main": [
        {
          "node": "Merge Data (Wait)",
          "type": "main",
          "index": 3
        }
      ]
    },
    "Klines 5m (GET /klines)": {
      "main": [
        {
          "node": "Merge Data (Wait)",
          "type": "main",
          "index": 4
        }
      ]
    },
    "Recent Trades (GET /trades)": {
      "main": [
        {
          "node": "Merge Data (Wait)",
          "type": "main",
          "index": 5
        }
      ]
    },
    "Merge Data (Wait)": {
      "main": [
        {
          "node": "Compute Indicators (Function)",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Compute Indicators (Function)": {
      "main": [
        {
          "node": "Evaluate IF (Function)",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Evaluate IF (Function)": {
      "main": [
        {
          "node": "IF signal?",
          "type": "main",
          "index": 0
        }
      ]
    },
    "IF signal?": {
      "main": [
        {
          "node": "Build Order Intent (Function)",
          "type": "main",
          "index": 0
        },
        {
          "node": "No-Trade Message (Function)",
          "type": "main",
          "index": 1
        }
      ]
    },
    "Build Order Intent (Function)": {
      "main": [
        {
          "node": "Sign Order (Function)",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Sign Order (Function)": {
      "main": [
        {
          "node": "Place Order (POST /api/v3/order)",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Place Order (POST /api/v3/order)": {
      "main": [
        {
          "node": "Append to Excel (Spreadsheet File)",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Append to Excel (Spreadsheet File)": {
      "main": [
        {
          "node": "Build Telegram (Function)",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Build Telegram (Function)": {
      "main": [
        {
          "node": "Telegram Send",
          "type": "main",
          "index": 0
        }
      ]
    },
    "No-Trade Message (Function)": {
      "main": [
        {
          "node": "Telegram Send",
          "type": "main",
          "index": 0
        }
      ]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "bc2cc094-6c2c-437a-b312-e692670d6bf0",
  "meta": {
    "templateId": "8614",
    "templateCredsSetupCompleted": true,
    "instanceId": "6d0752e12d9bb03e2bc5121e9231c86af53fba4d1b9b9b0e09b7fc69d01b61a6"
  },
  "id": "dGYL7WqAEtU1UFFW",
  "tags": []
}